<div id="colorlib-main">
	<section class="ftco-section-2">
			<div class="photograhy">
				<div class="row no-gutters">
					<!--start pics here -->
					{{#each images}}
					<div class="col-md-4 ftco-animate">
						<a href=/api/{{this.id}}
							class="photography-entry img image-popup d-flex justify-content-center align-items-center"
							style="background-image: url(/api/{{this.id}})">
							<div class="overlay"></div>
							<div class="text text-center">
								<h3>{{this.name}}</h3>
								<span class="tag">Lat: {{this.lat}} Long: {{this.long}}</span>
							</div>
						</a>
					</div>
					{{/each}}
				</div>
		</section>

		<footer class="ftco-footer ftco-bg-dark ftco-section text-center">
			<div class="container px-md-5">
				<div class="row">
					<div class="col-md-12">
						<p>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This
							template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div><!-- END COLORLIB-MAIN -->


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
		<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
		<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
			stroke="#F96D00" /></svg></div>

<!-- jquery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- jquery-migrate -->
<script src="https://cdn.jsdelivr.net/npm/jquery-migrate@3.1.0/dist/jquery-migrate.min.js"
	integrity="sha256-91c9XEM8yFH2Mn9fn8yQaNRvJsEruL7Hctr6JiIY7Uw=" crossorigin="anonymous"></script>
<!-- popper -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.15.0/dist/umd/popper.min.js"
	integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
<!-- jquery.easing -->
<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.js"
	integrity="sha256-tw5/wId1F+4LyUF2ZJnpRoHNXJ66jrK3IGhfq4LhLjY=" crossorigin="anonymous"></script>
<!-- jquery.waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- jquery.stellar -->
<script src="https://cdn.jsdelivr.net/npm/jquery.stellar@0.6.2/jquery.stellar.js"
	integrity="sha256-yv3HV4PGYVVN8MVB/2YRgbXgntRArNmMuwPV4KeL3qc=" crossorigin="anonymous"></script>
<!-- owl carousel -->
<script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"
	integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<!-- jquery.magnific-popup -->
<script src="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/jquery.magnific-popup.min.js"
	integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
<!-- animate on scroll -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"
	integrity="sha256-pQBbLkFHcP1cy0C8IhoSdxlm0CtcH5yJ2ki9jjgR03c=" crossorigin="anonymous"></script>
<!-- jquery.animateNumber -->
<script src="https://cdn.jsdelivr.net/npm/jquery.animate-number@0.0.14/jquery.animateNumber.min.js"
	integrity="sha256-GCAeRKCXFEtLTZ+gG1SCIrtGkYq1zZjMXkj+XUFNJqo=" crossorigin="anonymous"></script>
<!-- bootstrap datepicker -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"
	integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<!-- jquery.timepicker -->
<script src="https://cdn.jsdelivr.net/npm/jquery-timepicker@1.3.3/jquery.timepicker.js"
	integrity="sha256-ZEFHMstKm4uJuA95aFxPyq4WI6R019HkdKH5BraYLSI=" crossorigin="anonymous"></script>
<!-- scrollax -->
<script src="https://cdn.jsdelivr.net/npm/scrollax@1.0.0/scrollax.min.js"
	integrity="sha256-78XlHuE+x1oE3jMGeHoIsRro1NJVjN6q/nzTNyD/y9o=" crossorigin="anonymous"></script>
<script src="/js/gallery.js"></script>